<html>
    <body>
        <form action='/api/signin' method="POST">
            <input type="text" name='name'>
            <input type="password" name="password">
            <button type="submit">Login</button>
        </form>
        <a href='/api/signup'>Sign Up</a>
    </body>
</html>